---
import BlogCard from '@/components/BlogCard.astro'
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import PageHead from '@/components/PageHead.astro'
import ProjectCard from '@/components/ProjectCard.astro'
import Layout from '@/layouts/Layout.astro'
import { getAllTags, getPostsByTag, getProjectsByTag } from '@/lib/data-utils'
import { Icon } from 'astro-icon/components'

export async function getStaticPaths() {
  const tagMap = await getAllTags()
  const uniqueTags = Array.from(tagMap.keys())

  return Promise.all(
    uniqueTags.map(async (tag) => {
      const posts = await getPostsByTag(tag)
      const projects = await getProjectsByTag(tag)
      return {
        params: { id: tag },
        props: {
          tag,
          posts,
          projects,
        },
      }
    }),
  )
}

const { tag, posts, projects } = Astro.props
const hasPosts = posts.length > 0
const hasProjects = projects.length > 0
---

<Layout>
  <PageHead
    slot="head"
    title={`Contenido etiquetado con "${tag}"`}
    description={`Una colección de contenido etiquetado con ${tag}.`}
  />
  <Breadcrumbs
    items={[
      { href: '/tags', label: 'Etiquetas', icon: 'lucide:tags' },
      { label: tag, icon: 'lucide:tag' },
    ]}
  />

  <div class="flex flex-wrap items-center gap-2">
    <h1 class="text-3xl font-medium">Contenido etiquetado con</h1>
    <span
      class="bg-secondary flex items-center gap-x-1 rounded-full px-4 py-2 text-2xl font-medium"
    >
      <Icon name="lucide:hash" class="size-6 -translate-x-0.5" />{tag}
    </span>
  </div>

  {hasProjects && (
    <section class="mt-8">
      <h2 class="text-2xl font-medium mb-4">Proyectos</h2>
      <ul class="flex flex-col gap-y-4">
        {projects.map((project) => (
          <li>
            <ProjectCard project={project} />
          </li>
        ))}
      </ul>
    </section>
  )}

  {hasPosts && (
    <section class="mt-8">
      <h2 class="text-2xl font-medium mb-4">Posts</h2>
      <ul class="flex flex-col gap-y-4">
        {posts.map((post) => (
          <li>
            <BlogCard entry={post} />
          </li>
        ))}
      </ul>
    </section>
  )}

  {!hasPosts && !hasProjects && (
    <div class="mt-8 p-6 border rounded-lg text-center">
      <p class="text-muted-foreground">No se encontró contenido con esta etiqueta.</p>
    </div>
  )}
</Layout>
